.sideBar{
    width: 50%;
}

.tornasu{
    display:inline;
}

.contatti{
    width:100%;
}

#breadcrump{
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 0%;
}

.cercaSogno > input.barraRicerca{
    margin:0.25em;
}
.cercaSogno > input.bottoneCerca{
    width: 90px;
}

.elencoSogni{
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

.slide-1{
    display: none;
}

.filtraSogno > label{
    font-size: 1.5em;
}

select.formListaSogni{
    font-size: 1rem;
    width: 35%;
}

.formPrenotazione{
    margin-bottom: 1em;
}

.formPrenotazione > form > label{
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 0.3em;
}

select.selectForm{
    font-size: 1em;
    width: 50%;
}

.sognoImmagine{
    width: 90%;
    height: 90%;
}

div.sognoDescrizione{
    font-size: 1em;
}

div.sognoDescrizione > a{
    padding: 7px 13px;
}

form#nuovaRecensione > p{
    font-size: 1.5em;
}

form#nuovaRecensione > label{
    font-size: 1em;
}