.sideBar{
    width: 50%;
}

.tornasu{
    display:inline;
}

.contatti{
    width:100%;
}

#breadcrump{
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 0%;
}

.cercaSogno > input.barraRicerca{
    margin:0.25em;
}
.cercaSogno > input.bottoneCerca{
    width: 90px;
}

.elencoSogni{
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

.slide-1{
    display: none;
}