.sideBar{
    width: 50%;
}


div.section{
    width: 90%;
    margin: 0;
    margin-bottom: 1em;
    margin-top: 1em;
}

div.homeSlide{
    width: 90%;
    margin: 0;
    margin-bottom: 1em;
    margin-top: 1em;
}

div.article{
    width: 100%;
}

.slide-1{
    width: 90%;
}

.slide-2{
    width: 90%;
}

.tornasu > a{
    display:inline;
    float: right;
    text-align: center;
    padding: 0.5em;
}

.box{
    margin-bottom: 1em;
}

.section > h2{
    font-size: 1.75em;
}

.contatti{
    width:100%;
}

#breadcrump{
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 0%;
}

.cercaSogno{
    display: block;
}

.cercaSogno > label{
    font-size: 1em;
}

.cercaSogno > input.barraRicerca{
    font-size: 1em;
    padding: 0;
    margin: 0;
    width: 50%;
    max-height: fit-content;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.cercaSogno > input.barraRicerca:focus{
    background-color: var(--linkColor);
    width: 50%;
}

.cercaSogno > input.bottoneCerca{
    margin: 0;
    max-width: fit-content;
    max-height: fit-content;
    font-size: 1em;
    padding: 0.25rem;
}

.filtraSogno{
    display: block;
    margin-top: 0.35em;
}

.filtraSogno > label{
    font-size: 1em;
}

.filtraSogno > select.formListaSogni{
    font-size: 1em;
    padding: 0;
    margin: 0;
    width: 52%;
    max-height: fit-content;
    padding: 0.25em;
    padding-right: 1em;
}

.filtraSogno > input.bottoneFiltro{
    margin: 0;
    max-width: fit-content;
    max-height: fit-content;
    font-size: 1em;
    padding: 0.25rem;
}

.elencoSogni{
    flex-direction: column;
    justify-content: space-around;
}

.elencoDate > li > a {
    font-size:3.5em;
}

.slide-1{
    display: none;
}

select.formListaSogni{
    font-size: 1rem;
    width: 35%;
}

.formPrenotazione{
    margin-bottom: 1em;
}

.formPrenotazione > form > label{
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 0.3em;
}

select.selectForm{
    font-size: 1em;
    width: 50%;
}

.sognoImmagine{
    width: 90%;
    height: 90%;
}

div.sognoDescrizione{
    font-size: 1em;
}

div.sognoDescrizione > a{
    padding: 7px 13px;
}

form#nuovaRecensione > p{
    font-size: 1.5em;
}

form#nuovaRecensione > label{
    font-size: 1em;
}

.introduciElenco{
    font-size: 1.25em;
    text-align: center;
    margin: 0;
    padding-bottom: 0.5em
}

img.immagineAcquista{
    width: 90%;
    height: 90%;
}

div.sognoContainer{
    width: 90%;
}

div.sectionDash{
    font-size: 1em;
}

.sectionDash > img{
    width: 9em;
    height: 9em;
}

div.sectionDash > p{
    font-size: 1em;
}

div.elencoRecensioni{
    width: 90%;
}

.elencoRecensioni > p{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.welcomeDash{
    display: none;
}

#nuovoSognoForm > p{
    line-height: 1.1em;
}

input.casellaTesto{
    width: 50%;
}

.sectionRegPren > p{
    font-size: 1.15em;
    display: block;
    text-align: center;
}

.sectionRegPren > p:nth-child(1){
    margin-left: 0;
}

.sectionRegPren > p:nth-child(2){
    border-left: 0px;
    margin-right: 0;
    padding-left: 0;
    float: none;
}

div.thumbnail > img{
    width: 13em;
    height: 8em;
}

.emailForm{
    margin: 0;
    margin-top: 0.5em;
    width: 100%;
}

.emailForm > label{
    font-size: 1em;
}

.emailForm > input{
    font-size: 0.75em;
    max-width: fit-content;
}

.formContatta > h2.titolo{
    font-size: 1.4em;
}

p.titoletto{
    font-size: 1.15em;
}

div.radioButton > label{
    font-size: 0.9em;
    font-weight: lighter;
}

fieldset.messageForm > label{
    font-size: 1.1em;
}

fieldset.messageForm > textarea{
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

input.bottoneForm{
    margin-top: 0.5rem;
}

.titoloSogno{
    font-size: 1em;
}

.titoloSogno > span.full-description{
    font-size: 1em;
}

div.sognoDescrizione > p > span.full-description, div.sognoDescrizione > p > span.titoletto{
    font-size: 0.8em;
}

input{
    max-width: fit-content;
    max-height: fit-content;
    padding: 0.5em;
}

.loginTitle{
    font-size: 2.5em;
}

.signupTitle{
    font-size: 2.5em;
    padding: 0;
    padding-bottom: 0.5em;
}

fieldset > label{
    font-size: 1.25em;
}

input.casellaTesto{
    width: 90%;
    font-size: 1em;
}

select.formListaRec{
    width: 40%;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

fieldset > .selectForm{
    width: 80%;
    max-height: fit-content;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 0.25em;
    font-size: 1em;
}

textarea.casellaTesto{
    margin: 0;
    width: 90%;
    margin-top: 0.2em;
}

#button-lungo{
    max-width: fit-content;
    max-height: fit-content;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}

.slide-3 > p{
    font-size: 0.85em;
}

.SuccessoGiorni > p{
    font-size: 1em;
}

.Errore > p{
    font-size: qem;
}

div.containerRecensione{
    font-size: 1em;
}

div.sectionDash > ul > li {
    font-size: 1em;
}

div.sectionDash > ul > li > a {
    font-size: 1em;
}

.formPrenotazione > form > input {
    font-size: 1em;
    max-width: fit-content;
    max-height: fit-content;
}

footer{
    margin-top: 0;
}