*{
    padding: 0;
    margin: 0;
}

:root{
    --headerBgColor: #483d8b;
    --headerTxtColor: #FFFFFF;
    --BgColor: #F4F2F3;
    --BgTxtColor: #FFFFFF;
    --footerBgColor: #483d8b;
    --footerTxtColor: #FFFFFF;
    --linkColor: #F1F227;
    --visitedLinkColor: #D4B300;
}

html{
    font-size: 100%;
    line-height: 1.5em;
    margin: auto;
    background-color:gray;
}

a{
    color:var(--linkColor)
}

a:visited{
    color: var(--visitedLinkColor);
}

a:hover{
    opacity: 0.3;
}


/* NAVBAR */
header{
    display: flex; /*PRIMO FLEX*/
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
}

header > img{
    width: 4em;
    height: auto;
    margin-top: 0.5em;
}

.aiutoNavigazione{
    position: absolute;
    text-indent: -999em;
    display: none;
}

ul.listaNavBar{
    display: flex; /*Secondo flex*/
    flex-direction: row;
    list-style: none;
    gap: 1em;
}

.menu a{
    margin: auto;
    color: var(--linkColor);
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.5em;
    transition: all -50s ease-in-out;
}



/*FINE Navbar*/

main{
    max-width:1000px;
    margin-right:auto;
    margin-left:auto;
    padding-top:180px;
    padding-right:5%;
    padding-left:5%;
    background-color:white;
    min-height:100vh;
    
}


/********************** 

    SERVIZI

***********************/

article{
    padding-bottom:3em;
}

article h1{
    padding-bottom:1em;
    padding-top:1em;
}

article h2{
    padding-bottom:0.5em;
    padding-top:0.5em;
    font-size:14pt;
}

article li{
    margin-left:2em;
}

/********************** 

    FINE SERVIZI

***********************/


/*Inizio Footer*/
footer{
    background-color: var(--footerBgColor);
    color:var(--footerTxtColor);
    text-align: center;
    margin-top: auto;
    width: 100%;
    padding: 1em 0em 1em 0em;
}
