*{
    padding: 0;
    margin: 0;
}
/* VECCHIA PALETTE
:root{
    --headerBgColor: #483d8b;
    --headerTxtColor: #FFFFFF;
    --BgColor: rgb(33, 33, 33); 
    --BgTxtColor: black;
    --footerBgColor: #483d8b;
    --footerTxtColor: #FFFFFF;
    --linkColor: #F1F227;
    --visitedLinkColor: #D4B300;
    --BgAll: gray;
    --BgSidebar:rgb(72,61,139, 0.5); 
    --fontMenu: sans-serif;
}*/
/*220042 viola*/
/*001542 blu*/
/*NUOVA PALETTE*/
:root{
    --headerBgColor: #220042;
    --headerTxtColor: #FFFFFF;
    --BgColor: #001542;
    --BgTxtColor: #FFFFFF;
    --footerBgColor: #220042;
    --footerTxtColor: #FFFFFF;
    --visitedLinkColor: #26C281; /*#085454 ALTERNATIVA*/
    --linkColor: #FFB30D;
    --BgAll: #7A7A7A;
    --BgSidebar:rgb(0,21,66, 0.5);
    --colorSlide: #7A7A7A;
    --slideTitleTxtColor: #085454;
    --fontMenu: sans-serif;
    --errorBackground: #FF0000;
    --errorText: #FFFFFF;
}

.nascondi{
    display: none;
}

.prova{ /*da usare solo per capire il contrasto dei colori*/
    color:var(--visitedLinkColor);
}

.center{
    text-align: center;
}

.avviso{
    text-align: center;
    padding-bottom: 0.5em;
}

html{
    width: 100%;
    font-size: 100%;
    line-height: 1.5em;
    margin: auto;
    background-color: var(--BgAll);
}

a{
    color:var(--linkColor)
}

a:visited{
    color: var(--visitedLinkColor);
}

a:hover{
    opacity: 0.6;
}

body{
    display: flex; /*Primo flex*/
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5;
    background-color: var(--BgColor);
}

select.formListaSogni{
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    height: 42px;
    width: 25%;
    font-size: 1.25rem;
    background-color: var(--BgTxtColor);
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #ccc;
    cursor: pointer;
}

select.formListaSogni:focus{
    background-color: var(--linkColor);
    color: black;
}

select.selectForm{
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    height: 42px;
    width: 25%;
    font-size: 1rem;
    background-color: var(--BgTxtColor);
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #ccc;
    cursor: pointer;
}

select.selectForm:focus{
    background-color: var(--linkColor);
    color: black;
}

/* NAVBAR */
header{
    text-align: center;
    width: 100%;
    /* background-color: var(--headerBgColor); */
    
    /* commentare riga successiva e ripristinare 
     * quella precenente a questo commento 
     * per ripristinare lo sfondo navbar omogeneo
     */
    background-image: linear-gradient(to top right, #000000 0%, var(--headerBgColor) 20%, #000000 100%);
    color: var(--headerTxtColor);
}

header > img{
    width: 4em;
    height: auto;
    margin-top: 0.5em;
}

.aiutoNavigazione{
    position: absolute;
    text-indent: -999em;
    display: none;
}

.menu{
    text-align: center;
    line-height: 1.5em;
    vertical-align: middle;
    margin:auto;
}

ul.listaNavBar{
    padding: 0;
    text-align: center;
    list-style: none;
    font-family: var(--fontMenu);
    color: var(--visitedLinkColor);
    margin-top: 1em;
}

ul.listaNavBar > li{
    display: inline-block;
    width: 10%;
    margin: 1em 0.5em;
    font-size: 1.25em;
}

.menu a{
    margin: auto;
    color: var(--linkColor);
    transition: all -50s ease-in-out;
}

.menu a:hover{
    color: var(--visitedLinkColor);
}

.menu a::after{
    color: var(--linkColor);
}

#breadcrump{
    font-size: 1em;
    text-align: center;
    position: relative;
    padding-left: 40%;
    padding-right: 40%;
}

.titolo > h1{
    float: left;
    margin-top: 25px;
    vertical-align: middle;
}

#logo{
    float: left;
    width: 70px;
    height: 70px;
    margin: 1em;
    transition: all 1.25s ease;
    z-index: 10;
}


#logo:hover{
    animation: rotate-animation 3s infinite linear;
}

.titolo > a:hover{
    cursor: pointer;
}

@keyframes rotate-animation { /*Animazione di rotazione per il logo*/
	0% {
		transform: rotate(0deg);
    }
    50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*Inizio sideBar, molte cose sono su mobile ovviamente*/
.hideOnDesktop{
    display: none;
}

.sideBar{
    display: none;
}

.close{
    filter: invert(1);
    transition: all -50s ease-in-out;
}

.close:hover{
    opacity: 0.3;
}

.ham{
    margin: 0.5em;
    width: 45px;
    height: 45px;
}

.croce{
    margin: 1em;
    width: 25px;
    height: 25px;
}

/*Fine sidebar*/
/*FINE Navbar*/

main{
    margin:auto;
    width: 80%;
    min-height:max-content;
    align-items: center;
    background-color: var(--BgColor);
    color:var(--BgTxtColor);
}

.tornasu{
    margin-top:1em;
    margin-bottom:1em;
}

/*Pagina Home*/
.slide-1{
    margin-bottom: 2em;
}

.slide-1 > p{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

.introduciElenco{
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: 1.2em;
    padding-top: 0.5em;
}

.elencoSogni > ul{
    display: flex; /*secondo flex*/
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.elListaSogno{
    list-style: none;
    text-align: center;
    margin: 0.25em;
}

div.thumbnail > img{ /*dimensione immagine della lista dei sogni*/
    width: 16em;
    height: 9em;
    transition: all 0.5s ease-in;
}

div.thumbnail:hover{
    opacity: 0.5;
}


.slide-3{
    text-align: center;
    padding: 0.5em;
    margin-top: 1.2em;
    font-size: 1.25em;
}

/*FINE HOME*/

/*Pagina Sogni*/
/*Form*/

div.searchSogno{
    margin-bottom: 0.75em;
}

.cercaSogno{
    text-align: center;
}

.cercaSogno > input.barraRicerca{
    display: inline-block;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 55%;
    height: 70px;
    padding: 1em;
    margin: 1em 1em 1em 0em;
    transition: width 0.6s ease-in-out;
}

.cercaSogno > input.barraRicerca:focus{
    background-color: var(--linkColor);
    width: 80%;
}

.cercaSogno > input.barraRicerca:hover{
    background-color: var(--linkColor);
}

.cercaSogno > input.bottoneCerca{
    width: 130px;
    height: 70px;
    border-radius: 5px;
    background-color: white;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.cercaSogno > input.bottoneCerca:hover{
    background-color: var(--linkColor);
}

.filtraSogno{
    text-align: center;
}

.filtraSogno > label{
    font-weight: bold;
    font-size: 2em;
    padding-right: 0.3em;
}

.filtraSogno > input.bottoneFiltro{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 0.3em;
    align-items: baseline;
}

.filtraSogno > input.bottoneFiltro:hover{
    background-color: var(--linkColor);
}

/*Fine Sogni*/

/*Pagina Contatti*/
.contatti{
    text-align: center;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
}


.formContatta{
    text-align: center;
    line-height: 1.5em;
    background-color: var(--colorSlide);
    border-radius:1em;
    padding:2em;
    margin:auto;
    max-width:600px;
    border:none;
}

.formContatta > h2.titolo{
    font-size: 2em;
    display: inline-block;
}

.formContatta > form > fieldset > textarea{
    margin-top: 0.5em;
}

.emailForm{
    border: none;
    margin: 1em;
}

.emailForm > label{
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 0.3em;
}

.emailForm > input{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 60%;
    height: 35px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.25em;
}

.emailForm > input:hover{
    background-color: var(--linkColor);
}

.emailForm > input:focus{
    background-color: var(--linkColor);
}

.assistanceForm{
    border: none;
    margin: 1em 0em 0em 0em;
}

.assistanceForm > label{
    font-weight: bold;
    font-size: 1.5em;
}

.radioButton > label{
    font-weight: bold;
    font-size: 1em;
}

.messageForm{
    border:none;
    font-size: 1.5em;
    font-weight: bold;
}

.messageForm > textarea{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 80%;
    height: 200px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0.6em;
}

.messageForm > textarea:hover{
    background-color: var(--linkColor);
}

.messageForm > textarea:focus{
    background-color: var(--linkColor);
}

input.bottoneForm{
    margin-top: 1.5em;
    width: 130px;
    height: 75px;
    border-radius: 5px;
    background-color: white;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: middle;
}

input.bottoneForm:hover{
    background-color: var(--linkColor);
}

/*Pagina Servizi*/
/*Fine pagina Servizi*/

/*Registrati*/
.box{
    text-align: center;
    line-height: 1.5em;
    background-color: var(--colorSlide);
    border-radius:1em;
    padding:2em;
    margin:auto;
    max-width:600px;
}

.signupTitle{
    font-size: 3em;
    font-weight: bold;
    padding: 0em 1em 0.7em 1em;
}

#signupForm > label{
    font-weight: bold;
    font-size: 1.25em;
    padding-right: 0.3em;
}

.casellaTesto{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 30%;
    height: 20px;
    padding: 1em;
    margin: 1em;
}

.casellaTesto:hover{
    background-color: var(--linkColor);
}

.casellaTesto:focus{
    background-color: var(--linkColor);
}

#button{
    width: 130px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.7em;
    margin-bottom: 0.7em; 
}

#button:hover{
    background-color: var(--linkColor); 
}

/*Accedi*/
.loginTitle{
    font-size: 3em;
    font-weight: bold;
    padding: 0em 1em 0.7em 1em;
}

#loginForm > label{
    font-weight: bold;
    font-size: 1.25em;
    padding-right: 0.3em;
}

.Errore {
    border-radius: 1em;
    font-size:1.5em;
    font-weight:bold;
    background-color: var(--errorBackground);
    text-align:center;
    color: var(--errorText);
    margin-bottom:1em;
    max-width:600px;
    margin-right:auto; 
    margin-left:auto; 
}

/*Aggiungi Sogno*/

#nuovoSognoForm > label{
    font-weight: bold;
    font-size: 1.25em;
    padding-right: 0.3em;
}

#button-lungo{
    width: 260px;
    height: 100px;
    border-radius: 5px;
    background-color: white;
    color: #000000;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 0.7em; 
}

textarea.casellaTesto{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 80%;
    height: 200px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0.75em;
}


/*Inizio Footer*/
footer{
    /* background-color: var(--footerBgColor); */
    background-image: linear-gradient(to top right, #000000 0%, var(--headerBgColor) 20%, #000000 100%);
    color:var(--footerTxtColor);
    text-align: center;
    margin-top: auto;
    width: 100%;
    padding: 1em 0em 1em 0em;
    font-size: 1rem;
}


/* Inizio storia e servizi */

.article{
    font-size: 1.1em;
    width:90%;
    font-family: var(--fontMenu);
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}

.article > h2 {
    font-size:2em;
    color: var(--slideTitleTxtColor);
    margin-top:1em;
    margin-bottom:0.6em;
}

.article > h3{
    color: var(--slideTitleTxtColor);
    font-size:1.5em;
    margin-top:1em;
    margin-bottom:0.6em;
}

.section > h2 {
    font-size:2em;
    /* margin-top: 1em; */
    /* margin-bottom:0.5em; */
    color: var(--slideTitleTxtColor);
    text-align:center;
    
}

.section > h3 {
    color: var(--slideTitleTxtColor);
    font-size:1.5em;
    text-align:center;
}

.article > ul{
    margin-left:1.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
    text-align: left;
}

.section{
    background-color: #7A7A7A;
    margin:auto;
    margin-top:2em;
    margin-bottom:2em;
    padding:1em;
    border-radius: 1em;

}

.tornasu{
    display:none; 
}

.listaStoria{
    padding-right: 0.75em;
    padding-left: 0.75em;
    text-align: left;
}

/*Pagina Prenotazione*/

.formPrenotazione{
    text-align: center;
    margin-bottom: 3em;
}

.formPrenotazione > h2{
    font-size: 3em;
    font-weight: bold;
}

.formPrenotazione > p{
    margin: 0.2em;
}

.formPrenotazione > form > label{
    font-weight: bold;
    font-size: 2em;
    padding-right: 0.3em;
}

.formPrenotazione > form > input{
    width: 75px;
    height: 37px;
    font-size: 1.25em;
    background-color: white;
    color: black;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formPrenotazione > form > input:hover{
    background-color: var(--linkColor);
}

.elencoDate{
    list-style: none;
    gap: 2em;
}

.elencoDate > li{
    border: 2px solid white;
    padding: 1em;
}

/*Dashboard Admin*/
.sectionDash{
    background-color: #7A7A7A;
    margin:auto;
    margin-top:2em;
    margin-bottom:2em;
    padding:1em;
    border-radius: 1em;
    text-align: center;
    font-size: 1.25em;
}    

.sectionDash > div{
    display: inline-block;
    margin: 0.5em;
}

.sectionDash > div > a{
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
}

.sectionDash > div > a:hover{
    background-color: var(--linkColor);
    opacity: 1;
}

.sectionDash > a{
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
}

.sectionDash > a:hover{
    background-color: var(--linkColor);
    opacity: 1;
}

.sectionDash > p{
    color: var(--slideTitleTxtColor);
    font-size: 1.75em;
    font-weight: bold;
}

/* Sogno Singolo */

.hidden{
    display: none;
}

.titoloSogno{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.sognoImmagine{
    width: 16em;
    height: 9em;
    margin: 0.5em;
}

div.sognoContainer{
    background-color: #7A7A7A;
    width: 80%;
    margin:auto;
    margin-top:2em;
    margin-bottom:2em;
    padding:1em;
    border-radius: 1em;
    text-align: center;
    font-size: 1.25em;
}

div.sognoDescrizione{
    font-size: 1.15em;
}

div.sognoDescrizione > a{
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    margin: 1em;
}

div.sognoDescrizione > a:hover{
    background-color: var(--linkColor);
    opacity: 1;
}

.titoletto{
    font-weight: bold;
}
/*
.elencoRecensioni{

}*/