#logo{
    float: left;
}

.listaNavBar{
    display: none;
}

.hideOnDesktop{
    display: block;
    float: right;
    filter: invert(1);
    padding: 1em;
    transition: all 0.2s ease-in-out;
}

.hideOnDesktop:hover{
    opacity: 0.3;
}

/*stile sidebar*/
.sideBar {
    display: flex; /*3 flex*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0; /* Estende fino al fondo dello schermo */
    z-index: 999;
    background: var(--BgSidebar);
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(1rem); /*effetto blur su firefox e safari*/
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5); /*ombra sidebar*/
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

ul.listaSideBar {
    flex:1;
    display: flex; /*4 flex*/
    justify-content: space-around;
    flex-direction: column; /* Assicura che gli elementi si allineino verticalmente */
    gap: 1.5em;
}

ul.listaSideBar > li {
    margin-top: 0.5em;
    font-size: 1.5em;
    list-style: none;
    text-align: center;
    color: var(--visitedLinkColor);
    font-family: var(--fontMenu);
    width: 100%;
    flex: 1;
}

ul.listaSideBar > li > a {
    margin: auto;
    color: var(--linkColor);
    transition: all -50s ease-in-out;
    display: inline-block;
    width: 100%;
}

ul.listaSideBar > li > a:hover {
    color: var(--visitedLinkColor);
}

ul.listaSideBar > li > a::after {
    color: var(--linkColor);
}


#breadcrump{
    margin-top: 70px;
    bottom: 0;
    padding-top: 1%;
    padding-left: 35%;
    padding-right: 35%;
}

.tornasu{
    display:inline;
}

.contatti{
    width:100%;
}

.cercaSogno > input.barraRicerca{
    width: 70%;
    margin: 0.5em 0.5em 0.5em 0em;
}

.cercaSogno > input.barraRicerca:focus{
    width: 70%;
}

.elencoSogni{
    justify-content: space-between;
}

.formPrenotazione{
    margin-bottom: 1.5em;
}

.formPrenotazione > h2{
    font-size: 2.5em;
    margin-bottom: 0.35em;
}

select.selectForm{
    font-size: 1em;
    width: 50%;
}

#valutazione{
    width: 80%;
}

img.immagineAcquista{
    width: 90%;
    height: 90%;
}

.sognoContainer{
    font-size: 1em;
}

.vuoiConfermare{
    font-size: 1.5em;
}

div.sectionDash > p{
    font-size: 1.5em;
}

.SuccessoGiorni > p{
    margin:1em;
}